name: Wheels

# no permissions by default
permissions: {}

on:
  pull_request:
  push:
  release:
    types:
      - published

jobs:
  build_bdist:
    name: "Build ${{ matrix.os }} (${{ matrix.arch }}) wheels"
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      actions: write  # for uploading artifacts
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x86_64
          - os: ubuntu-24.04-arm
            arch: aarch64
          - os: windows-2022
            arch: AMD64
          - os: macos-15
            arch: arm64
          - os: macos-15-intel
            arch: x86_64

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: "Building ${{ matrix.os }} (${{ matrix.arch }}) wheels"
      uses: pypa/cibuildwheel@298ed2fb2c105540f5ed055e8a6ad78d82dd3a7e  # v3.3.1
      env:
        CIBW_SKIP: "pp* *-musllinux*"
        CIBW_BUILD: "cp311-* cp314-*"
        CIBW_ARCHS: ${{ matrix.arch }}
        CIBW_BUILD_FRONTEND: build
        CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_28
        CIBW_TEST_REQUIRES: pytest
        CIBW_TEST_COMMAND: >
          python -c "import ciso; print(f'ciso v{ciso.__version__}')" &&
          python -m pytest --pyargs ciso

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: pypi-artifacts-${{ matrix.os }}-${{ matrix.arch }}
        path: ${{ github.workspace }}/wheelhouse/*.whl


  show-artifacts:
    needs: [ build_bdist ]
    name: "Show artifacts"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        pattern: pypi-artifacts*
        path: ${{ github.workspace }}/dist
        merge-multiple: true

    - shell: bash
      run: |
        ls -l ${{ github.workspace }}/dist


  publish-artifacts-pypi:
    needs: [ build_bdist ]
    name: "Publish to PyPI"
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/ciso/
    permissions:
      id-token: write  # for trusted publishing to PyPI
      actions: read    # for downloading artifacts
    # upload to PyPI for every tag starting with 'v'
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
      with:
        pattern: pypi-artifacts*
        path: ${{ github.workspace }}/dist
        merge-multiple: true

    - name: Publish package distributions to PyPI
      if: success() && github.event_name == 'release'
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
